@require "_theme.styl"

.horizontal-toolbar
	display inline-flex
	padding 0 1px
	box-sizing content-box
	height 30px
	transition background 0.3s

	.image-button
		margin 2px 1px

.theme-light .horizontal-toolbar
	background-color L-background-default

.theme-dark .horizontal-toolbar
	background-color D-background-default
