/* global JetUI style */

@require "_theme.styl"

// Border color
.border
	border solid 1px red

.theme-light .border
	border-color L-border-default

.theme-dark .border
	border-color D-border-default

// Border style

.border-only-top
	border-width 1px 0 0 0

.border-only-right
	border-width 0 1px 0 0

.border-only-bottom
	border-width 0 0 1px 0

.border-only-left
	border-width 0 0 0 1px

.border-no-top
	border-width 0 1px 1px 1px

.border-no-right
	border-width 1px 0 1px 1px

.border-no-bottom
	border-width 1px 1px 0 1px

.border-no-left
	border-width 1px 1px 1px 0

// Fill parent

.fill
	width 100%
	height 100%

.fill-height
	height 100%

.fill-width
	width 100%

// Margin 8px
.margin8
	margin 8px
