@require "_theme.styl"

.tab-bar
	box-sizing border-box
	width 500px
	transition background 0.3s
	user-select-none()

.tab-bar-container
	display inline-flex
	height 26px
	width 100%
	margin-bottom 3px
	border-bottom solid 1px red
	transition background 0.3s

	.tabbar-filler
		min-width 16px
		flex 1

.theme-light
	.tab-bar
		background-color L-tab-background-selected-default
	.tab-bar-container
		border-color L-border-default
		background-color L-border-default

		.tabbar-filler
			background-color L-tab-background-default

.theme-dark
	.tab-bar
		background-color D-tab-background-selected-default
	.tab-bar-container
		border-color D-border-default
		background-color D-border-default

		.tabbar-filler
			background-color D-tab-background-default
