@require "_theme.styl"

.breadcrumb
  -webkit-user-select: none
  box-sizing: border-box
  height: 30px
  width: 500px
  margin: 8px
  transition: background 0.3s

.breadcrumb-container
  display: inline-flex
  height: 24px
  margin: 2px
  transition: background 0.3s

.breadcrumb-container .separator
    width: 8px

.theme-light
  .breadcrumb
    border-color: L-border-default
    background-color: L-background-default
  .breadcrumb-container
    border-color: L-border-default
    background-color: L-background-default
    .separator
        background-image: url('images/breadcrumb-separator-light.png')

.theme-dark
  .breadcrumb
    border-color: D-border-selected-default
    background-color: D-background-default
  .breadcrumb-container
    border-color: D-border-selected-default
    background-color: D-background-default
    .separator
        background-image: url('images/breadcrumb-separator-dark.png')
