:root {
  color: black;
  background-color: var(--jt-bg-container-light);
  // global
  --jt-font-size: 14px;
  // theme colors
  --jt-primary: hsl(180, 66%, 40%);
  --jt-primary-hover: hsl(180, 66%, 46%);
  --jt-primary-active: hsl(180, 66%, 34%);
  // border
  --jt-border: #b8c0c8;
  --jt-border-hover: #a8b0b8;
  // text
  --jt-text: #222222;
  --jt-text-selected: white;
  // background
  --jt-bg-body: hsl(0, 0%, 95%);
  --jt-bg-container-light: #fefefe;
  --jt-bg-container-dark: #e8e8e8;
  --jt-bg-container-darker: #d8d8d8;
  // button
  --jt-bg-button: rgb(227, 227, 227);
  --jt-bg-button-hover: rgb(247, 247, 247);
  --jt-bg-button-active: #c0c0c0;
  --jt-bg-button-selected: #888888;
  --jt-bg-button-selected-hover: var(--jt-bg-button-selected);
  --jt-bg-button-selected-active: var(--jt-bg-button-selected);
  // input
  --jt-bg-input: #fcfcfc;
  --jt-bg-input-hover: #ffffff;
  --jt-bg-input-border: #b8c0c8;
  --jt-bg-input-border-hover: #a8b0b8;
  --jt-bg-input-warning: hsl(60, 74%, 94%);
  // panel
  --jt-bg-panel-title: linear-gradient(0deg, hsl(0, 0%, 85%), hsl(0, 0%, 90%));
  --jt-bg-panel-button-hover: hsla(0, 0%, 100%, .5);
  --jt-bg-panel-button-active: hsla(0, 0%, 60%, .5);
}
.jt-theme-dark {
  color: white;
  background-color: var(--jt-bg-container-light);
  // theme
  // border
  --jt-border: #000000;
  --jt-border-hover: #101010;
  // text
  --jt-text: #eeeeee;
  --jt-text-selected: #cdcdcd;
  // background
  --jt-bg-body: rgb(60, 63, 65);
  --jt-bg-container-light: #333333;
  --jt-bg-container-dark: #444444;
  --jt-bg-container-darker: #555555;
  // button
  --jt-bg-button: hsl(180, 5%, 33%);
  --jt-bg-button-hover: hsl(180, 5%, 37%);
  --jt-bg-button-active: #252729;
  --jt-bg-button-selected: #2c2e2f;
  --jt-bg-button-selected-hover: var(--jt-bg-button-selected);
  --jt-bg-button-selected-active: var(--jt-bg-button-selected);
  // input
  --jt-bg-input: rgb(69, 73, 77);
  --jt-bg-input-hover: rgb(79, 83, 87);
  --jt-bg-input-border: hsl(180, 5%, 66%);
  --jt-bg-input-border-hover: hsl(180, 5%, 75%);
  --jt-bg-input-warning: hsl(60, 25%, 25%);
  // panel
  --jt-bg-panel-title: linear-gradient(0deg, hsl(0, 0%, 22%), hsl(0, 0%, 25%));
  --jt-bg-panel-button-hover: hsla(0, 0%, 40%, .5);
  --jt-bg-panel-button-active: hsla(0, 0%, 20%, .5);
}
