:root {
  // global
  --jt-font-size: 14px;
  --jt-font-monospace: Inconsolata, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, DengXian;
  --jt-duration: 0.2s;
  --jt-duration-active: 0.05s;
  // theme colors
  --jt-primary-hue: 180;
  --jt-primary: hsl(var(--jt-primary-hue), 66%, 40%);
  --jt-primary-hover: hsl(var(--jt-primary-hue), 66%, 46%);
  --jt-primary-active: hsl(var(--jt-primary-hue), 66%, 34%);
  // border
  --jt-border: hsl(210, 13%, 75%);
  --jt-border-hover: hsl(210, 10%, 69%);
  // text
  --jt-text: hsl(0, 0%, 15%);
  --jt-icon: hsl(0, 0%, 30%);
  --jt-text-sub: hsl(0, 0%, 40%);
  // link
  --jt-link: var(--jt-text);
  --jt-link-bg: hsla(var(--jt-primary-hue), 50%, 84%, 0.4);
  --jt-link-bg-hover: hsla(var(--jt-primary-hue), 50%, 50%, 0.4);
  // background
  --jt-bg-container: hsl(0, 0%, 98%);
  --jt-bg-container-dark: hsl(0, 0%, 94%);
  --jt-bg-container-darker: hsl(0, 0%, 88%);
  // button
  --jt-bg-button: hsl(0, 0%, 89%);
  --jt-bg-button-hover: hsl(0, 0%, 85%);
  --jt-bg-button-active: hsl(0, 0%, 74%);
  --jt-bg-button-selected: hsl(0, 0%, 74%);
  --jt-bg-button-selected-hover: hsl(0, 0%, 66%);
  --jt-bg-button-selected-active: hsl(0, 0%, 55%);
  // menu: menu, list, breadcrumb
  --jt-bg-menu: var(--jt-bg-container);
  --jt-bg-menu-hover: hsl(0, 0%, 90%);
  --jt-bg-menu-active: hsl(0, 0%, 80%);
  --jt-bg-menu-selected: hsl(0, 0%, 85%);
  --jt-bg-menu-selected-hover: hsl(0, 0%, 80%);
  --jt-bg-menu-selected-active: hsl(0, 0%, 75%);
  // scrollbar
  --jt-bg-scrollbar-track: hsl(0, 0%, 95%);
  --jt-bg-scrollbar-thumb: hsl(0, 0%, 75%);
  --jt-bg-scrollbar-thumb-hover: hsl(0, 0%, 66%);
  --jt-bg-scrollbar-corner: hsl(0, 0%, 98%);
  // indicator: radio, checkbox
  --jt-bg-indicator: hsl(0, 0%, 98%);
  // input
  --jt-bg-input: hsl(0, 0%, 99%);
  --jt-bg-input-hover: hsl(0, 0%, 100%);
  --jt-bg-input-border: hsl(210, 13%, 75%);
  --jt-bg-input-warning: hsl(60, 74%, 94%);
  // panel
  --jt-bg-panel-title: linear-gradient(0deg, hsl(0, 0%, 85%), hsl(0, 0%, 90%));
  --jt-bg-panel-button-hover: hsla(0, 0%, 80%, .5);
  --jt-bg-panel-button-active: hsla(0, 0%, 60%, .5);
}
.jt-theme-dark {
  background-color: var(--jt-bg-container);
  // theme colors
  // Note: Same with light theme for now
  // border
  --jt-border: hsl(0, 0%, 0%);
  --jt-border-hover: hsl(0, 0%, 6%);
  // text
  --jt-text: hsl(0, 0%, 93%);
  --jt-icon: hsl(0, 0%, 80%);
  --jt-text-sub: hsl(0, 0%, 66%);
  // background
  --jt-bg-container: hsl(0, 0%, 30%);
  --jt-bg-container: hsl(0, 0%, 20%);
  --jt-bg-container-dark: hsl(0, 0%, 27%);
  --jt-bg-container-darker: hsl(0, 0%, 33%);
  // button
  --jt-bg-button: hsl(180, 5%, 33%);
  --jt-bg-button-hover: hsl(180, 5%, 28%);
  --jt-bg-button-active: hsl(210, 5%, 15%);
  --jt-bg-button-selected: hsl(200, 3%, 18%);
  --jt-bg-button-selected-hover: var(--jt-bg-button-selected);
  --jt-bg-button-selected-active: var(--jt-bg-button-selected);
  // menu: menu, list, breadcrumb
  --jt-bg-menu: var(--jt-bg-container);
  --jt-bg-menu-hover: hsl(0, 0%, 17%);
  --jt-bg-menu-active: hsl(0, 0%, 8%);
  --jt-bg-menu-selected: hsl(0, 0%, 12%);
  --jt-bg-menu-selected-hover: hsl(0, 0%, 10%);
  --jt-bg-menu-selected-active: hsl(0, 0%, 4%);
  // scrollbar
  --jt-bg-scrollbar-track: hsl(0, 0%, 10%);
  --jt-bg-scrollbar-thumb: hsl(0, 0%, 33%);
  --jt-bg-scrollbar-thumb-hover: hsl(0, 0%, 25%);
  --jt-bg-scrollbar-corner: hsl(0, 0%, 2%);
  // indicator: radio, checkbox
  --jt-bg-indicator: hsl(0, 0%, 40%);
  // input
  --jt-bg-input: rgb(69, 73, 77);
  --jt-bg-input-hover: rgb(79, 83, 87);
  --jt-bg-input-border: hsl(180, 5%, 66%);
  --jt-bg-input-warning: hsl(60, 25%, 25%);
  // panel
  --jt-bg-panel-title: linear-gradient(0deg, hsl(0, 0%, 22%), hsl(0, 0%, 25%));
  --jt-bg-panel-button-hover: hsla(0, 0%, 40%, .5);
  --jt-bg-panel-button-active: hsla(0, 0%, 20%, .5);
}
