.jt-util-container {
  color: var(--jt-text);

  a {
    color: var(--jt-text);
    text-decoration: none;
    border-bottom: solid 1px hsla(0, 0%, 0%, 0.25);

    transition: background-color var(--jt-duration);
    background-color: var(--jt-link-bg);

    &:hover {
      @media (hover: hover) {
        background-color: var(--jt-link-bg-hover);
      }
    }
  }
}
